@charset "UTF-8";
/* CSS Document */
.header {
	display: flex;
	justify-content: flex-start;
	background-color: #000;
}

.header a {
	width: 0px;
	height: 0px;
	color: #fff;
}

.header-logo {
	padding: 10px 0px 5px 15px;
}

.header-logo img{
	width:50px;
	height:auto;
	color: #fff;
}

.header-list {
  padding: 0px;
}

.header-list li {
	list-style-type: none;
	float: left;
	padding: 5px 18px 0px 18px;
}

.header-list a {
	font-size: 15px;
	color: #fff;
}

.main {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0px 150px;
}

.logo {
	margin-top: 30px;
}

.contents{
	margin: 0px;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contents p{
	font-size: 20px;
}

.contents-name{
	margin: 80px 0px 0px 0px;
}

.line{
	margin: 0px;
	padding: 0px;
	border-bottom: inset thin #AEAEAE;
}

.novels{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0px;
	padding: 0px;
}

.novels p{
	margin: 0px;
	padding: 0px;
}

.novels1 h3{
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-size: 30px;
	font-family: "Georgia", "Times New Roman", "serif";
}

.chapter{
	margin: 0px;
	padding: 0px;
}

.chapter h4{
	margin: 60px 0px 30px 0px;
	padding: 0px;
	font-size: 25px;
}

.chapter ul{
	margin: 0px;
	padding-left: 20px;
	list-style-type:none;
}

.chapter li{
	margin: 10px 0px;
}
